////
/// Image block.
////

.entry .entry-content {

	.wp-block-image {
		max-width: 100%;

		img {
			display: block;
		}

		&.alignfull img {
			width: 100vw;
			max-width: calc( 100% + (2 * #{$size__spacing-unit}));

			@include media(tablet) {
				// max-width: calc( 125% + 150px );
				max-width: 100vw;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

}
